{include="header"}

<script type="text/javascript" src="{#FS_PATH#}plugins/servicios/view/jscolor/jscolor.js"></script>
<script type="text/javascript">

</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-xs-6">
         <div class="btn-group">
            <a href="index.php?page=ventas_servicios" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-chevron-left"></span>
               <span class="hidden-xs">&nbsp; Atrás</span>
            </a>
            <a href="{$fsc->url()}" class="btn btn-sm btn-default" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                  <a href="#t_importar" aria-controls="t_paginas" role="tab" data-toggle="tab">
                      <i class="fa fa-check-square"></i>
                      <span class="hidden-xs">&nbsp;Importar</span>
                  </a>
              </li>
              <li role="presentation">
                  <a href="#t_exportar" aria-controls="t_plugins" role="tab" data-toggle="tab">
                      <i class="fa fa-plug"></i>
                      <span class="hidden-xs">&nbsp;Exportar</span>
                  </a>
              </li>
              
              <li role="presentation">
                  <a href="#t_estados" aria-controls="t_descargas" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="hidden-xs">&nbsp;Estados</span>
                  </a>
              </li>
              
          </ul>


          <div class="tab-content">
               <div role="tabpanel" class="tab-pane" id="t_importar">
                  <div class="container-fluid" style="margin-top:15px;">
                     <form action="{$fsc->url()}" method="post" enctype="multipart/form-data">
                        <div class="tab-content">
                           <div role="tabpanel" class="tab-pane active" id="general">
                              <br/>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>
                                          <input type="file" name="upload_xml" class="form-control" autocomplete="off"/>
                                          Archivo XML de entidad. TODOS los archivos xml se procesan mediante cron. Puede ver el estado de sus importaciones <a href="">aquí.</a>
                                          <br>
                                          <input type="radio" name="options" value="update_stock"> Actualizar stock de todos los productos, manteniendo control de stock
                                          <div style="clear:Both;"></div>
                                          <input type="radio" name="options" value="overwrite_stock"> Sobreescribir stock de todos los productos, sin mantener control de stock
                                          <div style="clear:Both;"></div>
                                          <input type="radio" name="options" value="ignore_stock"> No actualizar stock
                                          <div style="clear:Both;"></div>

                                          <input type=submit value="Importar">
                                       </label>
                                    </div>
                                 </div>
                              </div>                             
                           </div>                           
                        </div>
                     </form>                     
                  </div>
               </div>
               <div role="tabpanel" class="tab-pane" id="t_exportar">
                  <div class="container-fluid" style="margin-top:15px;">
                        <p>aaaa</p>
                  </div>

               </div>
               <div role="tabpanel" class="tab-pane" id="t_estados">
                  <div class="container-fluid" style="margin-top:15px;">
                          <div class="table-responsive">
                                   <table class="table table-hover">
                                      <thead>
                                         <tr>
                                            <th class="text-left">Fichero {$fsc->test}</th>
                                            <th class="text-left">Entidad</th>
                                            <th class="text-left">Inicio</th>
                                            <th class="text-left">Fin</th>
                                            <th class="text-left">Estado</th>
                                            <th class="text-left">Procesados</th>
                                            <th class="text-left">Errores</th>
                                         </tr>
                                      </thead>
                                      
                                         <tbody>
                                         {loop="$fsc->import_export"}
                                            <tr class="clickableRow" href="index.php?page=ventas_cliente&amp;cod=000001">
                                            <td>{$value['filename']}</td>
                                            <td>{$value['entity']}</td>
                                            <td>{$value['start_xml']}</td>
                                            <td>{$value['stop_xml']}</td>
                                            <td>{$value['status']}</td>
                                            <td>{$value['processed']}</td>
                                            <td>{$value['errors']}</td>
                                               
                                            </td>
                                            <td>-</td>
                                            <td class="text-right">-</td>
                                         </tr>
                                          {/loop}
                                      
                                   </tbody></table>
                                </div>
                  </div>

               </div>
         </div>























      </div>
   </div>

</div>

{include="footer"}